h1 {
  font-style: italic;
  text-align: center;
}

#orderComplete {
  display: none;
}

h5 {
  font-weight: bold;
}

#header {
  text-align: center;
}

#button {
  transition-duration: 0.4s;
  border: 2px solid;
  width: fit-content;
}

#button:hover {
  background-color: crimson;
}
